body {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode-container {
    background-color: #2a2a2a;
    padding: 20px;
}

.dark-mode {
    background-color: #434343 !important;
    color: #ffffff !important;
}